<div id="footer" class="footer" style="background-color: #2f364a;">
	<div class="container">
		<p style="font-family: sans-serif; text-align:center; color: white;">Forum Design And Creadted By Rohan & Sunpreet &copy; 2016</p>
	</div>
</div>
